body {
    background-color:#2456AE;
}

header h1{
    text-align: center; color: white;
}

main h1 {
    text-align: center; color: white
}

main h2{
    color: #8CD237
}

h3 {
    color: #A3FD8B
}

footer h1 {
    text-align: center; color: white
}

footer img {
    width: 300px;
}
